.messageList
  list-style: none
  padding: 10px

.messageItem
  padding: 8px
  margin: 10px 20px
  padding: 1px 10px
  border-radius: 10px
  border: none
  background-color: #90ee904b

  .senderId
    font-weight: bold
    font-size: 18px

  .messageText
    font-size: 14px

  .sendDate
    font-style: italic
    text-align: end
    font-size: 10px

.error
  color: red

.loading
  font-style: italic
